<div class="card">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
          <img class="rap" src="assets/img/rap.jpg">
      </div>
      <mat-card-title>Рэп</mat-card-title>
      <hr class="line-rap">
    </mat-card-header>
    <mat-card-content>
        <div class="rap-artist">
            <app-rap *ngFor="let rap of rap"
                        [title5]="baseTitlePath + rap.title5"
                        [audio5]="baseAudioPath + rap.audio5">
            </app-rap>
          </div>
    </mat-card-content>
  </mat-card> 

    <mat-card class="example-card2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2">
              <img class="rock" src="assets/img/rock.jpg">
          </div>
          <mat-card-title>Рок</mat-card-title>
          <hr class="line-rock">
        </mat-card-header>
        <mat-card-content>
          <div class="rock-artist">
            <app-rock *ngFor="let rock of rock"
                        [title6]="baseTitlePath + rock.title6"
                        [audio6]="baseAudioPath + rock.audio6">
            </app-rock>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3">
              <img class="futurebass" src="assets/img/bass.jpg">
          </div>
          <mat-card-title class="bass-title">Дабстеп</mat-card-title>
        </mat-card-header>
        <hr class="line-bass">
        <mat-card-content>
            <div class="futurebass-artist">
                <app-futurebass *ngFor="let futurebass of futurebass"
                            [title7]="baseTitlePath + futurebass.title7"
                            [audio7]="baseAudioPath + futurebass.audio7">
                </app-futurebass>
              </div>
        </mat-card-content>
      </mat-card> 


      <mat-card class="example-card4">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image4">
              <img class="reggae" src="assets/img/регги.jpg">
          </div>
          <mat-card-title class="reggae-title">Регги</mat-card-title>
        </mat-card-header>
        <hr class="line-reggae">
        <mat-card-content>
            <div class="reggae-artist">
                <app-reggae *ngFor="let reggae of reggae"
                            [title9]="baseTitlePath + reggae.title9"
                            [audio9]="baseAudioPath + reggae.audio9">
                </app-reggae>
              </div>
        </mat-card-content>
      </mat-card>

      
</div>

  
