<div *ngIf="!isSignedIn" class="login">
    <p class="logi">Registration</p>
    <div class="email">
        <label class="name1">Email</label>
        <input type="text" #emailSignup/>
    </div>
    <div *ngIf="!isSignedIn" class="pass">
        <label class="name2">Password</label>
        <input type="text" #passwordSignup/>
    </div>
    <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
    </div>

    <app-profile *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-profile>
