:host{
    display: block;
    font-weight: normal;
    font-family:Impact, fantasy;

}
.artist--title3{
    position: relative;
    bottom: -100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    font-size:19px;
    color:#029c2d;
}
.artist--audio3{
    width: 50%;
    display: block;
    position: relative;
    left: 25%;
    bottom: -50px;

}