.top-ur-ru{
    position: relative;
    bottom: 10px;
    font-size: 40px;
    font-weight: normal;
    font-family:Impact, fantasy;
    color:#029c2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line-ur-ru{
    position: relative;
    bottom: 15px;
    height: 5px;
    background-color: #029c2d;
    border: none;
}

.line-euro{
    position: relative;
    bottom: -28px;
    height: 5px;
    background-color: #029c2d;
    border: none;
}
.top-euro{
    position: relative;
    bottom: -35px;
    font-size: 40px;
    font-weight: normal;
    font-family:Impact, fantasy;
    color:#029c2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line-usa{
    position: relative;
    bottom: -80px;
    height: 5px;
    background-color: #029c2d;
    border: none;
}
.top-usa{
    position: relative;
    bottom: -88px;
    font-size: 40px;
    font-weight: normal;
    font-family:Impact, fantasy;
    color:#029c2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}