
<div class="app-menu">
    <div class="app-menu--logo">
      <a routerLink="/">
        <img class="app-menu--logo--img" src="assets/img/11.png">
      </a>
      <a class="login" href="login">Login</a>
    </div>
    <div class="app-menu--list">
      <ul>
        <li><a class="app-menu--list--item" routerLink="home"><i class="fa fa-1"></i>Главное</a></li>
        <li><a class="app-menu--list--item" routerLink="popular"><i class="fa fa-2"></i>Популярные</a></li>
        <li><a class="app-menu--list--item" routerLink="genre"><i class="fa fa-3"></i>Жанр</a></li>
        <li><a class="app-menu--list--item" routerLink="profile"><i class="fa fa-4"></i>Профиль</a></li>
      </ul>
    </div>

       <div class="menu2_ber">
    <button class="menu2" id="nav_toggle" type="button" (click)="toggleMenu($event)" >
      <span class="menu2-item">Menu</span>
    </button>
    <header class="header">
      <div class="container">
       <nav class="nav" #menu>
        <a class="nav_link"  href="home">Главное</a>
        <a class="nav_link"  href="popular">Популярные</a>
        <a class="nav_link"  href="genre">Жанр</a>
        <a class="nav_link"  href="profile">Профиль</a>
       </nav>
      </div>
     </header>
     <div class="search">
      <button class="button-ar" mat-button [matMenuTriggerFor]="animals"><img class="icon-artists" src="assets/img/artists.png"></button>
 <mat-menu #animals="matMenu">
   <button mat-menu-item [matMenuTriggerFor]="vertebrates">Артисты</button>
 </mat-menu>
 
 <mat-menu #vertebrates="matMenu">
   <button mat-menu-item [matMenuTriggerFor]="rap">Рэп</button>
   <button mat-menu-item [matMenuTriggerFor]="rock">Рок</button>
   <button mat-menu-item [matMenuTriggerFor]="dubstep">Дабстеп</button>
   <button mat-menu-item [matMenuTriggerFor]="birds">----</button>
 </mat-menu>
 <mat-menu #birds="matMenu">

 </mat-menu>

 <mat-menu #rap="matMenu">
   <button mat-menu-item><a class="link-morgen" routerLink="Morgenshtern">Моргенштерн</a></button>
   <button mat-menu-item>Егор Крид</button>
   <button mat-menu-item>Тимати</button>
   <button mat-menu-item>Noize MC</button>
   <button mat-menu-item>Скриптонит</button>
 </mat-menu>
 
 <mat-menu #rock="matMenu">
   <button mat-menu-item>AC/DC</button>
   <button mat-menu-item>БИ-2</button>
   <button mat-menu-item>Цой</button>
   <button mat-menu-item>Queen</button>
 </mat-menu>
 
 <mat-menu #dubstep="matMenu">
   <button mat-menu-item>Skrillex</button>
   <button mat-menu-item>Burial</button>
   <button mat-menu-item>Nero</button>
   <button mat-menu-item>James Blake</button>
   <button mat-menu-item>Flux Pavilion</button>
 </mat-menu>
 </div>
     </div>
     
  </div> 

