<div class="app-menu">
    <div class="app-menu--logo">
      <a routerLink="/">
        <img class="app-menu--logo--img" src="assets/img/11.png">
      </a>
    </div>
  
    <div class="app-menu--list">
      <ul>
        <li><a class="app-menu--list--item" routerLink="home"><i class="fa fa-1"></i>Главное</a></li>
        <li><a class="app-menu--list--item" routerLink="popular"><i class="fa fa-2"></i>Популярные</a></li>
        <li><a class="app-menu--list--item" routerLink="genre"><i class="fa fa-3"></i>Жанр</a></li>
        <li><a class="app-menu--list--item" routerLink="profile"><i class="fa fa-4"></i>Профиль</a></li>
      </ul>
    </div>
    <div class="app-menu--search">
      <input class="app-menu--search--input" type="text" name="search">
      <button class="app-menu--search--btn">
        <img class="app-menu--search--img" src="assets/img/111.png">
      </button>
    </div>
  </div>
