.app-menu {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-family:Impact, fantasy;
}

.app-menu--logo {
  width: 100px;
}

.app-menu--logo > a {
  display: inline-block;
}

.app-menu--logo--img{
  background-color:black;
  width: 100px;

}

.app-menu--list {
  width: 100%;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  top: 20px;
}

ul {
  list-style: none;
  justify-content: center;
  display: flex;
}

.app-menu--list--item {
    padding: 15px 30px;
    color:#029c2d;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-size: 25px;
}

li a:hover{
  background: #029c2d;
  color: black;
  transition: all 0.5s ease;
}

.app-menu--search {
  display: flex;
  align-items: center;
  padding-right: 25px;
}
li{
  padding: 15px 30px;

}

.app-menu--search--img{
  width: 50px;
}

.app-menu--search--btn {
  background-color: black;
  box-shadow:0px 0px 10px 0px #029c2d;
  border-radius: 25px;
}

.app-menu--search--input {
  border-radius: 25px;
  background-color: #029c2d;
  height: 25px;
  margin-right: 10px;
  width: 135px;
}
@media (max-width: 900px){
  .app-menu--list {
    display: none;
  }
}
