.app-menu {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-family:Impact, fantasy;
}

.app-menu--logo {
  width: 100px;
}

.app-menu--logo > a {
  display: inline-block;
}
.app-menu--logo--img{
  background-color:black;
  width: 100px;

}
.app-menu--list {
  width: 100%;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
  justify-content: center;
  display: flex;
}
.app-menu--list--item {
    padding: 15px 30px;
    color:#029c2d;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-size: 25px;
}
li a:hover{
  background: #029c2d;
  color: black;
  transition: all 0.5s ease;
}
li{
  padding: 15px 30px;

}
.menu2{
  display:none;
  width: 30px;
  padding: 15px 0;
  font-size: 0;
  border: 0;
  background: none;
  color: transparent;
  position: relative;
  cursor: pointer;
  right: 60px;
  top: 22px;
}
.menu2-item{
 display: flex;
 width: 100%;
 height: 3px;
 background-color: #029c2d;
 position: relative;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 margin: auto;
}
.menu2-item::before,
.menu2-item::after{
  content:"";
  width: 100%;
  height: 3px;
  background-color: #029c2d;
  position:absolute;
  left: 0;
  z-index: 1;
}
.menu2-item::before{
  top: -8px;
}
.menu2-item::after{
  bottom: -8px;
}
.nav{
  display: none;
}
.header{
  position:relative;
  width: 0px;
  left: -145px;
  top:0px;
}
.nav_link{
  display: block;
  padding: 3px 0px;
  color:#029c2d;
  text-decoration: none;
  text-transform: uppercase;
}
.button-ar{
  position: relative;
  right: 25%;
  bottom: -25px;
  border: 0;
  background-color: black;
  color: #029c2d;
  font-weight: normal;
  font-family:Impact, fantasy;
  font-size: 25px;
}
.icon-artists{
  width: 50px;
  background-color: #029c2d;
  border-radius: 50%;
}
.log-reg{
  display: block;
  position: relative;
  bottom: -10px;
}
.login{
  text-decoration: none;
  font-size: 15px;
  color: #029c2d;
  position: relative;
  bottom: 25px;
  left: 35px;
}
@media (max-width: 1673px){
  .app-menu--list{
    display: none;
  }
  .menu2{
    display: block;
  }
  .active{
    display: block;
  }
  .button-ar{
    position: relative;
    top: -20px;
  }
}
