.app-menu {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-family:Impact, fantasy;
}

.app-menu--logo {
  width: 100px;
}

.app-menu--logo > a {
  display: inline-block;
}

.app-menu--logo--img{
  background-color:black;
  width: 100px;

}

.app-menu--list {
  width: 100%;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  justify-content: center;
  display: flex;
}

.app-menu--list--item {
    padding: 15px 30px;
    color:#029c2d;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-size: 25px;
}

li a:hover{
  background: #029c2d;
  color: black;
  transition: all 0.5s ease;
}

.app-menu--search {
  display: flex;
  align-items: center;
  padding-right: 25px;
}
li{
  padding: 15px 30px;

}

.app-menu--search--img{
  width: 50px;
}

.app-menu--search--btn {
  background-color: black;
  box-shadow:0px 0px 10px 0px #029c2d;
  border-radius: 25px;
}

.app-menu--search--input {
  border-radius: 25px;
  background-color: #029c2d;
  height: 25px;
  margin-right: 10px;
  width: 135px;
}
.menu2{
  display:none;
  width: 30px;
  padding: 15px 0;
  font-size: 0;
  border: 0;
  background: none;
  color: transparent;
  position: relative;
  cursor: pointer;
  top: 5px;
  right: 10px;
  z-index: 1;
}
.menu2-item{
 display: flex;
 width: 100%;
 height: 3px;
 background-color: #029c2d;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 margin: auto;
}
.menu2-item::before,
.menu2-item::after{
  content:"";
  width: 100%;
  height: 3px;
  background-color: #029c2d;
  position:absolute;
  left: 0;
  z-index: 1;
}
.menu2-item::before{
  top: -8px;
}
.menu2-item::after{
  bottom: -8px;
}
.header{
  position:relative;
  width: 0px;
  left: -70px;
  top:-20px;
}
.nav_link{
  display: none;
  padding: 3px 0px;
  color:#029c2d;
  text-decoration: none;
  text-transform: uppercase;
}


@media (max-width: 1673px){
  .app-menu--list{
    display: none;
  }
  .app-menu--search{
    display: none;
  }
  .menu2{
    display: block;
  }
  .nav_link.active{
    display: block;
  }
  
}