.app-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
  }
  
  .app-aside__left,
  .app-aside__right {
    background-color: green;
    width: 15%;
    min-width: 150px;
  }
  
  .app-aside__left {
    background: center / cover no-repeat url("../assets/img/56.png");
  }
  
  .app-aside__right {
    background: center / cover no-repeat url("../assets/img/57.png");
  }

  .app-container {
    width: 70%;
    background-color: black;
  }
  
  @media screen and (max-width: 599px) {
    .app-aside__left,
    .app-aside__right {
      display: none;
    }
  
    .app-container {
      width: 100%;
    }
  }