.card{
    display: block;
    width: 100%;
    height: 600px;
}
.example-card {
    position: relative;
    left: 8.9%;
    width: 80%;
    height: 1250px;
    min-width: 200px;
    background-color: #029c2d;
    border-radius: 15px;
    font-weight: normal;
    font-family:Impact, fantasy;
      }
  .example-header-image{
    height: 725px;
  }
.img-morgen{
    position: relative;
    top: -5px;
    width: 600%;
    border-radius: 30%;
}
.mat-card-title{
    position: relative;
    left: -10%;
    top: 260px;
    font-size: 30px;
}
.mat-card-content{
    position: relative;
    bottom: 400px;
}