:host{
    display: block;
    font-weight: normal;
    font-family:Impact, fantasy;
}
 .title6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    font-size:19px;
}
.audio6{
    width: 50%;
    display: block;
    position: relative;
    left: 25%;
    bottom: 50px;

}