img{
    width: 215px;
}

.songs{
    position: relative;
    bottom: 800px;
    left: 230px;
    width: 100%;

}
.pizz-song{
    padding-bottom: 170px;
    width: 60%;
}
.maks-song{
    padding-bottom: 170px;
    width: 60%;
}
.morgen-song{
    padding-bottom: 170px;
    width: 60%;
}
.mot-song{
    width: 60%;
}
